body {
  background-color: #101010;
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}

p.glow {
  color: #50FFFF;
  font-size: 16px;
  text-shadow: 0px 0px 2px #1040FF, -2px -2px 2px #1040FF, 2px -2px 2px #1040FF, -2px 2px 2px #1040FF, 2px 2px 2px #1040FF;
}
